@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./style.scss";

body {
    background-image: url("/images/bg02.jpg");
    background-size: cover;
    background-attachment: fixed;
}
